.operationinfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 1em;
  gap: 1em;
}

.operationDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .operationinfo {
    width: 90%;
  }
}
