.operationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  /* background-color: #474E68; */
}

.operationinfo {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 1em;
  /* background-color: #50577A; */
  background-color: #50577A;
  border-radius: 10px;
  box-shadow: 3px 3px #191b2441;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.titleSlot {
  min-width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  color: rgb(150, 222, 255);
}

.timeInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: baseline;
  width: 100%;
  color: rgb(233, 233, 233);
}

.operationDescription {
  display: flex;
  align-self: baseline;
  flex-direction: column;
  gap: 5px;
}

.operationDescription ul {
  list-style: inside;
}

.operationDescription ol {
  list-style: inside;
}

.img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .titleSlot {
    font-size: 10px;
  }

  .operationContainer {
    width: 100%;
  }

  .operationinfo {
    width: 90%;
  }
}
