.communityCard {
  display: flex;
  grid-column: 3;
  background-color: #50577a;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
  gap: 1em;
}

.img {
  height: 400px;
  width: auto;
}

.infoContainer {
  display: flex;
  padding: 1em 2em 2em 2em;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media only screen and (max-width: 600px) {
  .communityCard {
    flex-direction: column;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 4em;
  }

  .infoContainer {
    padding: 0;
  }
}
