.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.login {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}

.buttons {
    display: flex;
    align-items: center;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}