.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.login {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}