.listItem {
  display: flex;
  gap: 10px;
  justify-content: baseline;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.listItem img {
  width: 30px;
  height: auto;
}

.activeListItem img {
  width: 30px;
  height: auto;
}

.activeListItem {
  display: flex;
  gap: 10px;
  justify-content: baseline;
  align-items: center;
  transition: all ease-in-out 0.2s;
  color: #2da000;
}

.listItem :hover {
  color: rgb(202, 230, 255);
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.filter {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.filter :hover {
  cursor: pointer;
  border: 2px solid #95a000;
}

.filter img {
  width: 36px;
  height: auto;
  border: 2px solid #00000000;
  border-radius: 9999px;
}

.filter.active img {
  border: 2px solid #2da000;
  border-radius: 9999px;
}

.sidebar {
  position: fixed;
  grid-column: 2;
  margin: 2em;
  display: flex;
  align-self: baseline;
  flex-direction: column;
  min-height: 15em;
  justify-content: space-between;
  background-color: #50577a;
  padding: 0.75em;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #191b24;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
